.activitySingleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  .activitySingleWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }

  .activityImageAndTicketSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
  }
  

/* 
.activityResume {
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(252, 226, 227, 39%);

}





.activityDetailsPrice {
    flex: 2;
    border-radius: 5px;
    overflow: hidden;
}


.button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
}



*/ 

@media screen and (max-width:2000px){

}

@media screen and (max-width:1150px){
    .activitySingleContainer{
        margin: 0 3%;
    }

    .activityImageAndTicketSection{
        flex-direction: column;
    }

    .activityDetails{
        flex-direction: column
    }
}

/*Mobile phone*/
@media screen and (max-width:650px){

} 
  
