.app__categorylist_category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
}


.app__categoryList_category-card {
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 230px;

    margin: 1rem;
}

.app__categoryList_category-card:hover .app__laurels_awards-card_content {
    background: var(--color-red);
    transition: 0.4s ease;
}

.app__categoryList_category-card:hover img {
    opacity: 0.7;
    transition: 0.3s ease;
}



.app__categoryList_category-card img {
    width: 400px;
    height: 400px;
    border-radius: 5px;
}


.app__laurels_awards-card_content {
    background: var(--color-white);
    position: absolute;
    top: 80%;
    width: 45%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0 5px 5px 0;
}

@media screen and (min-width:1900px) {
    .app__laurels_awards-card {
        min-width: 390px;
    }
}

@media screen and (max-width:750px) {
    .app__laurels_awards-card {
        min-width: 100%;
        margin: 1rem 0;
    }



    .app__categoryList_category-card img {
        width: 350px;
        height: 350px;
    }

    .app__categorylist_category{
        justify-content: center;
    }

}