.dateTimeActivityInput{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
 
}


.optionTarif{
    background-color: rgba(252, 226, 227, 39%);
    border-radius: 5px;
    padding: 2rem 0;
    
}