.dateTimeActivityInput{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
 
}
.dateTimeActivityInput>div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
    background-color: #ce21274f;
    padding: 1rem;
    border-radius: 5px;
}