.titlepage {
    text-align: center;
    padding: 2% 0%;
}

.titlepage h2 {
    position: relative;
    font-size: 2rem;
    color: #121212;
    line-height: 45px;
    margin: 0;
    padding-bottom: 0.7%;
}


h2::before {
    position: absolute;
    content: "";
    background-color: var(--color-red);
    width: 8%;
    height: 3px;
    bottom: 0;
        
}

