.activityDetails {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    margin-top: 20px;
    margin-bottom: 3.5%;
}

.activityDetailsTexts{
    flex: 4;

}

.activityDesc {
    font-size: 14px;
    margin-top: 20px;
    text-align: justify;
}


.activityDetailsPrice {
    flex: 2;
    border-radius: 5px;
    overflow: hidden;
}


.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: none;
    color: none;
}

@media screen and (max-width:2000px){

}

@media screen and (max-width:1150px){

    .activityDetails{
        flex-direction: column
    }
}

/*Mobile phone*/
@media screen and (max-width:650px){

} 
  




