.app__header {
    justify-content: space-between;
    align-items: center;
    
    padding: 2rem 0rem;
    min-height: 100vh;
}

.list_mode {
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
}


.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-white);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 60px;
    font-size: 40px;
    text-align: center;
}


.header__p {
    line-height: 3rem;
    text-align: center;
}