.chooseDateWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

/* bottom content */
.ticketTitle {
    font-size: 1.2rem;
    font-family: var(--font-base);
    font-weight: 700;
}

/* label test START */
.timeLabelRadio{
    position: relative;
}

        /* hide default radio btn */
.timeLabelRadio input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.timeCheckmark {
    position: absolute;
    top: 0;
    left: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.3rem 1.3rem;
    background-color: #fef4f4;
    border-radius: 5px;
  }

        /* On mouse-over, add a grey background color */
.timeLabelRadio:hover input ~ .timeCheckmark {
    background-color: #ccc;
  }

  .timeLabelRadio input:checked ~ .timeCheckmark {
    background-color: #ce2127;
  }

  .timeLabelRadio input:checked ~ .timeCheckmark:hover {
    color: #fff;
  }

/* label test END */

.ticketDatetime {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.IconSingle__DateTime {
    font-size: 1.3rem;
    color: var(--color-red);
    margin-left: 2rem;
}

.ticketDate {
    margin: 0;
}

.chooseDateLocationDuration {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.LocationDurationItem {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.IconSingle {
    font-size: 1.3rem;
    color: var(--color-red);
}

.singleCategory {
    text-align: center;
    justify-content: center;
    margin-top: 3%;
    opacity: 0.8;
}

.singleCategory>hr {
    margin: 0;
}

.chooseDateTicketAndImages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
}


.chooseDateImagesContainer {
    flex: 6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
}

.chooseDateImgWrapper {
    width: 33%;
    border-radius: 5px;
}

.chooseDateImg {
    width: 250px;
    height: 170px;
    object-fit: cover;
}

.chooseDateResume {
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(252, 226, 227, 39%);

}

.chooseDateTicket {
    flex: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid lightgray;
    position: sticky;
    top: 10px;
    height: max-content;
    justify-content: center;
}


.chooseDateTitleSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
    align-items: center;
    margin: 0.5rem 0;
}

.minPriceMGA {
    margin: 0;
    color: var(--color-green);
}

.chooseDateItems {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.chooseDateItemsText {
    flex: 3 1;
    display: flex;

    justify-content: flex-start;
    margin: 0 1rem;
}

.chooseDateItemsText>p {
    margin: 0 2%;
}

.chooseDateItemsVar {
    flex: 2;
    display: flex;

    justify-content: flex-end;
    margin: 0 1rem;
}

.chooseDateTotalSection {
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3% 0;
}

.chooseDateTotalText>p {
    margin: 0;
}

.chooseDateTotalVar>p {
    margin: 0%;
    font-weight: 700;
    color: var(--color-red);
    font-size: large;
}

.chooseDateTotalText {
    flex: 3;
    display: flex;

    justify-content: flex-start;
    margin: 0 1rem;
}


.chooseDateTotalVar {
    flex: 2;
    display: flex;

    justify-content: flex-end;
    margin: 0 1rem;
}

.chooseDateDetails {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 4rem;
    margin-top: 20px;
    margin-bottom: 3.5%;
    /* background-color: aqua; */
}


.selectDate {
    flex: 3;
    /* background-color: bisque; */
}

.selectDateTitle {
    display: flex;
    justify-content: center;
}

.datePickerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

/* datepicker-START */

.react-datepicker {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 0.8rem;
    background-color: #ffffff;
    color: #000;
    border: 1px solid #aeaeae;
    border-radius: 5px;
    display: inline-block;
    position: relative;
}

.react-datepicker__header {
    text-align: center;
    background-color: #fef4f4;
    border-bottom: 0px solid #aeaeae;
    /* border-top-left-radius: 0.3rem; */
    padding: 11px 0;
    position: relative;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    color: #3b3b3b;
    display: inline-block;
    width: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: 0.5rem;
}

.react-datepicker__day--selected:hover {
    background-color: #ffffff00;
}

.react-datepicker__day--selected {
    border-radius: 0.3rem;
    background-color: #fef4f469;
    color: #fff;
}

.react-datepicker__day--keyboard-selected {
    border-radius: 0.3rem;
    background-color: #ce2127;
    color: #fff;
}

.react-datepicker__day--keyboard-selected:hover {
    background-color: #ce2127;
}

.react-datepicker__day--highlighted {
    border-radius: 0.3rem;
    background-color: #219D80;
    color: #fff;
}

.react-datepicker__day--highlighted:hover {
    border-radius: 0.3rem;
    background-color: #219D80;
    color: rgb(255, 255, 255);
}

/* datePicker---End */


/* calendar legend start */
.datePickerLegend{
    display: flex;
    justify-content: center;
    gap: 3rem;
    opacity: 0.85;
}

.datePickerLegend__Items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.datePickerLegend>span>div{
    background-color: #219D80;
    width: 18px;
    height: 18px;
    border-radius: 5px;
}

.datePickerLegend>span>p{
    margin: 0;
    margin-left: 2px;
    font-size: 0.8rem;
}

.datePickerLegend>span>div.datePickerLegend__divIndispo{
    background-color: #ce2127;
    width: 18px;
    height: 18px;
    border-radius: 5px;
}

/* calendar legend end */

.selectTime {
    flex: 2;

    /* background-color: bisque; */
}

.timeButtonSection {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.buttonTime {
    background-color: #fef4f4;
    color: var(--color-black);
    font-family: var(--font-alt);
    font-weight: 500;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    transition: all .3s;
    margin-left: 2.5%;
}

.buttonTime:hover {
    background-color: var(--color-red);
    color: var(--color-whitesmoke);
}



@media screen and (max-width:2000px) {}

@media screen and (max-width:1150px) {
    .chooseDateTicketAndImages {
        flex-direction: column;
    }

    .chooseDateDetails{
        flex-direction: column;
    }

    .timeButtonSection {
        padding: 2rem 5rem;
    }
}

/*Mobile phone*/
@media screen and (max-width:650px) {
    .chooseDateTicketAndImages {
        flex-direction: column;
    }
}