.priceOptionsWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}



.priceOptionsTicketAndImages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
}


/* unknown */
.minPriceMGA{
    margin: 0;
    color: var(--color-green);
}


.priceOptionsDetails {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    margin-top: 20px;
    margin-bottom: 3.5%;
}



@media screen and (max-width:2000px){

}

@media screen and (max-width:1150px){
    .priceOptionsTicketAndImages{
        flex-direction: column;
        
    }
}

/*Mobile phone*/
@media screen and (max-width:650px){
    .priceOptionsTicketAndImages{
        flex-direction: column;
    }
}
 
